<div id="logo" class="container">
  <h1><a href="#" class="icon icon-tasks"><span>Escrevendo o Direito</span></a></h1>
</div>
<div id="page" class="container">
  <div id="content">

  <div id="sidebar"><a href="#" class="image image-centered"><img src="assets/direito1.jpeg" alt="" /></a></div>

</div>

<div id="contact" class="container">
  <div class="major">
    <h3>Nos siga em nossas redes sociais</h3>

  </div>
  <ul class="contact">
    <li><a href="#" class="fa fa-facebook"><span>Twitter</span></a></li>
    <li><a href="#" class="fa fa-twitter"><span></span></a></li>
    <li><a href="#" class="fa fa-youtube"><span>YouTube</span></a></li>
    <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
    <li><a href="#" class="fa fa-instagram"><span>Instagran</span></a></li>
  </ul>

</div>
