<div id="header">
  <div id="menu" class="container">
    <ul>
      <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
      <li><a href="#" accesskey="2" title="">Artigos</a></li>
      <li><a href="#" accesskey="3" title="">Direito e arte</a></li>
      <li><a href="#" accesskey="4" title="">UniNews</a></li>
      <li><a href="#" accesskey="5" title="">Mundo Juridico</a></li>
      <li><a href="#" accesskey="5" title="">Dicas Juridicas</a></li>
      <li><a href="#" accesskey="5" title="">Eventos</a></li>
      <li><a href="#" accesskey="1" title="">Quem somos</a></li>
      <li><a href="#" accesskey="1" title="">Sobre</a></li>

    </ul>
  </div>
</div>
<div id="logo" class="container">
  <h1><a href="#" class="icon icon-tasks"><span>Escrevendo o Direito</span></a></h1>
</div>
<div id="page" class="container">
  <div id="content">
    <div class="title">
      <h2>Bem vindo a nossa pagina</h2>
      <span class="byline">informaçoes da pagina de entrada</span>
    </div>
    <p>texto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffff e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdfffffffffffffffffffffffffffffffffffffffffffffffffffffffftexto e mais textodfdfdfdffffffffffffffffffffffffffffffffffffffffffffffffffffffff </p>

  </div>
  <div id="sidebar"><a href="#" class="image image-full"><img src="assets/direitos.jpg" alt="" /></a></div>

</div>

<div id="contact" class="container">
  <div class="major">
    <h3>Nos siga em nossas redes sociais</h3>
    
  </div>
  <ul class="contact">
    <li><a href="#" class="fa fa-facebook"><span>Twitter</span></a></li>
    <li><a href="#" class="fa fa-twitter"><span></span></a></li>
    <li><a href="#" class="fa fa-youtube"><span>YouTube</span></a></li>
    <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
    <li><a href="#" class="fa fa-instagram"><span>Instagran</span></a></li>
  </ul>
  
</div>

