<div id="header">
  <div id="menu" class="container">
    <ul>
      <li><a routerLink="home">Homepage</a></li>
      <li><a routerLink="Artigo">Artigos</a></li>
      <li><a routerLink="DireitoArtes">Direito e arte</a></li>
      <li><a routerLink="UniNews">UniNews</a></li>
      <li><a routerLink="MundoJuridico">Mundo Juridico</a></li>
      <li><a routerLink="DicasJuridicas">Dicas Juridicas</a></li>
      <li><a routerLink="Eventos">Eventos</a></li>
      <li><a routerLink="QuemSomos">Quem somos</a></li>
      <li><a routerLink="Sobre">Sobre</a></li>
    </ul>
  </div>
</div>

<div class="container" >
  <router-outlet></router-outlet>
</div>

<div id="header"></div>

<ul>
  <div>
    <ul class="contact">
      <li><a href="#" class="fa fa-facebook"><span>Twitter</span></a></li>
      <li><a href="#" class="fa fa-twitter"><span></span></a></li>
      <li><a href="#" class="fa fa-youtube"><span>YouTube</span></a></li>
      <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
      <li><a href="#" class="fa fa-instagram"><span>Instagran</span></a></li>
    </ul>
  </div>
</ul>
