<div id="logo" class="container">
  <h1><a href="#" class="icon icon-tasks"><span>Dicas Juridicas</span></a></h1>
</div>
<p>
  dicas-juridicas works!
</p>

<div>
  <h1>{{title}}</h1>
  <h3>{{description}}</h3>
</div>

<div style="width: auto">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="item">Item</label>
      <input type="text"   class="form-control" placeholder="Enter content..." id="item"  required [(ngModel)]="itemValue" name="item">
    </div>

    <div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<h2>Content from Firebase</h2>
<div class="col-md-3">
  <pre *ngFor="let item of items | async">{{item.content}}</.pre>
</div>
