<div id="logo" class="container">
  <h1><a  class="icon icon-tasks"><span>Sobre</span></a></h1>
</div>
<div class="container" >
  <p style="text-align: center">
    <strong>Diretor:</strong><br><br>
    Ranulfo Barbosa direito.cg@mauriciodenassau.edu.br<br>

    <strong>Coordenação:</strong><br><br>
    Elizabete Alves Brito elizabetealvesbrito@hotmail.com<br>
    Rodolfo Batista Lima  rodolfobatistalima02@gmail.com<br>
    Wellison David Silva Pereira  wellisondavid05@gmail.com<br>

    <strong>Conselho editorial:</strong><br><br>
    Elizabete Alves Brito elizabetealvesbrito@hotmail.com<br>
    Ighor Gustavo Lima Ferreira ighor-g@hotmail.com<br>
    Lúcio Márcio luciotarginojr16@outlook.com<br>
    Richardson Trajano de Almeida richardsontrajano123@gmail.com<br>
    Rodolfo Batista Lima  rodolfobatistalima02@gmail.com<br>
    Samuel Santos samueltre1hotmail.com<br>
    Thamyris Shelda Santiago Mendes thamyris@institutotropeiros.com<br>
    Wellison David Silva Pereira wellisondavid05@gmail.com<br>

    <strong>Suporte técnico/gráfico:</strong><br><br>
    Sildemberg<br>
    Wellison David Silva Pereira  wellisondavid05@gmail.com



  </p>

</div>

